html, body {
    margin:0;
    padding:0;
}

.main_block{
    margin-left: 150px;
}

body p{
    font-size: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin-left: 40px;
}

body h1{
    font-size: 25px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 800;
    margin-left: 40px;
}

body img{
    margin-left: 40px;
}

.content {
    display: flex;
    width: 100%;
}

header{
    background-color: #00CCCC;
    width: 100%;
    height: 60px;
}

header h1{
    margin-left: 200px;
    margin-top: 0;
    padding-top: 7px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.nav_bar{
    position: sticky;
    display: inline-flex;
    margin-left: 120px;
    top: 100px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    border: 2px solid black;
    padding-right: 35px;
    border-radius: 15px;
    width: 200px;
    height: min-content;
}

.app {
    display: flex;
}

.nav_bar li{
    list-style-type: none;
}

.overview{
    margin-left: 10px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.overview h2{
    font-size: 25px;
}

.diagram img{
    height: 900px;
    width: 100%;
}

.work_table{
    margin-left: 40px;
}

.work_table table {
    border-collapse: collapse;
    width: 100%;
    height: 700px;
}

.work_table td, th {
    text-align: left;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #222;
}

.results_list li{
    font-size: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin-left: 40px;
}

.docx_table{
    margin-top: 30px;
    margin-left: 40px;
}

.docx_table table {
    border-collapse: collapse;
    width: 100%;
    height: 1000px;
}

.docx_table  td, th {
    text-align: left;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #222;
}

.table_header{
    background-color: rgb(238,237,236);
}

.ow_system{
    background-color: rgb(225,240,217);
}

.system_table{
    margin-top: 20px;
    margin-left: 40px;
}

.system_table table {
    border-collapse: collapse;
    width: 100%;
}

.system_table  td, th {
    text-align: left;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #222;
}

.ocl_text{

}

.ocl_text button{
    margin-left: 40px;
    width: 100px;
    height: 30px;
}

.ocl_diagram{
    margin-top: 30px;
    border: 2px solid black;
    width: 50%;
    margin-left: 40px;
    display: none;
}

.ocl_diagram p{
    font-size: 15px;
}